@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: url(./Components/Assets/vecteezy_fingerprint-identity-sensor-data-protection-system-podium_7164537.jpg);
  background-position: center;
  background-size: cover;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  body {
    background-size: contain;
  }
}
